fastapi==0.104.1
uvicorn==0.22.0

psycopg2==2.9.9
python-dotenv
pydantic==2.5.2
pydantic-settings==2.1.0
pydantic_core==2.14.5
alembic
PyYAML==6.0.1
langchain-openai==0.1.17
langchain==0.2.11
langchain-community==0.2.10